POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_DB=maindb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET=kocakgeming123 
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5433/${POSTGRES_DB}
PORT= 3000
REDIS_URL=